body{
  background:url("http://images.unsplash.com/photo-1508817628294-5a453fa0b8fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=0551ea09cd190d0c56c72beffa061ef2");
  display:block;
  max-width:100vw;
  height:100vh;
  background-position:center center;
  background-repeat:no-repeat;
   
}
h2{
  text-align:center;
  
  
}
.container{
  border:1px solid, rgba(0,0,0,0.5);
  width:350px;
  height:340px;
  margin-left:60%;
  margin-top:2%;
  background:rgba(238, 238, 0, 1);
   overflow:hidden;
  
}
.row{
  font-size:22px;
  margin-left:20px;
}
@media screen and (max-width:720px){
  .row{
    font-size:15px;
    margin-left:10px;
  }
}

label{
  padding:15px;
  margin:10px;
}
@media screen and (max-width:720px){
  label{
    padding:10px;
    margin:8px;
  }
}
input[type=text], [type=password]{
  padding:12px 10px;
  margin:5px;
  width:80%;
  background:rgba(0,0,0,0.6);
  border:rgba(0,0,0,0.6);
  color:white;
  
  
}
@media screen and (max-width:720px){
  input[type=text], [type=password]{
  padding:10px 8px;
  margin:5px;
  width:50%
  background:rgba(0,0,0,0.6);
  border:rgba(0,0,0,0.6);
  color:rgba(255,255,255);
  
  
  }
}
button[type=submit]{
  padding:12px;
  margin:5px;
  width:30%
  margin-left:60px;
 border:1px,
   rgba(247, 202, 24, 1);
  background:rgba(247, 202, 24, 1);
  font-weight:bold;
 
}
@media screen and (max-width:720px){
  button[type=submit]{
  padding:3px;
  margin:5px;
  width:20%;
  margin-left:60px;
 border:1px,
   rgba(247, 202, 24, 1);
  background:rgba(247, 202, 24, 1);
  font-weight:bold;
    font-size:10px;
 
  }
}
input::placeholder{
  text-align:center;
}
.container1{
  display:flex;
  align-items:start;
  justify-content:space-around;
  margin:5px;
}
@media screen and (max-width:720px){
  .container1{
  display:flex;
    flex-flow:row wrap;
    font-size:10px;
    text-align:center;
  }
  
}
a{
  color:rgba(46, 49, 49, 1);
  text-decoration:none;
}

@media screen and (max-width:720px){
  body{
  background:url("http://images.unsplash.com/photo-1508817628294-5a453fa0b8fb?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&w=1080&fit=max&s=0551ea09cd190d0c56c72beffa061ef2");
  display:block;
  width:100vw;
  mheight:100vh;
  background-position:center center;
  background-repeat:no-repeat;
  }
.container{
  
  border:1px solid, rgba(0,0,0,0.5);
  width:250px;
  height:auto;
  margin-left:33%;
  margin-top:10%;
  background:rgba(238, 238, 0, 1);
   
  
}
  
}